[Desktop Entry]
Comment=Plasma theme with mostly transparent elements./
Name=Breeze Krystal Light
X-KDE-PluginInfo-Author=nordkamp
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=mattyhoffman7@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-Name=Breeze-Krystal-Light
X-KDE-PluginInfo-Version=1.0.8
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0
